<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js',
    metaImage: 'https://dummyimage.com/600x400/333/ddd.png&text=Dummy+image'
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
<% [...Array(5).keys()].forEach(index => { %>
    <div class="panel-<%= index + 1 %>"><%= index + 1 %></div>
<% }) %>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
